table.scroll {
    /* width: 100%;*/ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    /*border: 2px solid black;*/
    width: 100%;
}

table.scroll tbody,
table.scroll thead { display: block; }

table.scroll thead tr th { 
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*table.scroll tbody { border-top: 2px solid black; }*/

table.scroll tbody td, thead th {
     /*width: 100%;  */  
    /* border-right: 1px solid black;*/
    /* white-space: nowrap; */
}

table.scroll tbody td:last-child, thead th:last-child {
    border-right: none;
}
 .table a{

        text-decoration: none;
        color: gray;
      }
      .table a:hover{
        color: green;
      }